Source: yices-tra
Maintainer: Alessio Mansutti <alessio.mansutti@imdea.org>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), dh-autoreconf (>= 10), gperf, libgmp-dev, libpoly-dev, cudd, libflint-dev (>= 3.0), libmpfr-dev
Homepage: https://github.com/arith-lab/yices-tra


Package: yices-tra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SMT solver for real arithmetic with transcendental functions
 YicesTRA decides the satisfiability of quantifier-free formulas of
 non-linear real arithmetic extended with the transcendental functions
 sin and exp, and the constant pi. It is an extension of the Yices 2
 SMT solver of SRI International.
 .
 The package contains the solver ytra, which reads the SMT-LIB 2 format.
